<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>syrus_media_console.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>syrus_media_console</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>users.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/LoginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>Users.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_user</display-name>
    <servlet-name>Login_user</servlet-name>
    <servlet-class>syrus_media_console.Login_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_user</servlet-name>
    <url-pattern>/Login_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_user</display-name>
    <servlet-name>Logout_user</servlet-name>
    <servlet-class>syrus_media_console.Logout_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_user</servlet-name>
    <url-pattern>/Logout_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>master</display-name>
    <servlet-name>master</servlet-name>
    <servlet-class>syrus_media_console.master</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>master</servlet-name>
    <url-pattern>/master</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>syrus_media_console.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoController</display-name>
    <servlet-name>VideoController</servlet-name>
    <servlet-class>syrus_media_console.VideoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoController</servlet-name>
    <url-pattern>/VideoController</url-pattern>
  </servlet-mapping>
</web-app>